* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}
section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
}
